<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lge.lgshoptimem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.lge.core.app.ApplicationProxy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.product.DetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.product.MediaPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.Fullscreen"
            tools:targetApi="O" />
        <activity android:name=".ui.product.ExoPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_video_player"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.Fullscreen"
            tools:targetApi="O"/>
    </application>

</manifest>